.info {

    &__title {
        text-align: left;
        padding-left: 7vw;
        font-size: 1.25rem;
        font-weight: 800;
        margin: 0;
        font-family: Avenir;
    }

    &__divider {
        padding-left: vw;
        color: #E1E1E1;
        width: 90%;
    }

    .info-containerTop {
        display: flex;

        &__author {
            text-align: left;
            padding-left: 7vw;
            margin: 0;
            font-family: Avenir;
            font-size: 1rem;
            padding-top: 1.5vh;
        }

        &__date {
            color: #AFAFAF;
            padding-left: 2vw;
            margin: 0;
            font-family: Avenir;
            font-weight: 600;
            padding-top: 1.5vh;
            font-size: 1rem;
        }
    }

    .info-data {
        display: flex;
        align-items: center;
    }

    .info-containerMiddle {
        display: flex;
        padding-left: 7vw;
        align-items: center;

        &__views {
            width: 30%;
            height: 15%;
        }

        &__label {
            padding-left: 2vw;
            font-family: Avenir;
            font-weight: 400;
            font-size: 1rem;
        }
    }

    .info-containerBottom {
        display: flex;
        padding-left: 7vw;
        align-items: center;

        &__likes {
            width: 30%;
            height: 15%;
        }

        &__label {
            padding-left: 2vw;
            font-weight: 400;
            font-size: 1rem;
        }
    }

    

}