.comments {
    display: flex;
    align-items: flex-start;
    margin-right: 0;

    &__img {
        background-color: grey;
        height: 5vh;
        width: 5vh;
        border-radius: 50%;
        margin-top: 1vh;
        margin-left: 7vw;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 74vw;
        padding-left: 3vw;
    }

    &__name {
        font-family: Avenir;
        color: black;
        margin: 0;
        font-size: 0.875rem;
        font-weight: 600;
    }

    &__date {
        font-family: Avenir;
        color: grey;
        font-size: 0.875rem;
        font-weight: 400;
        margin: 0;
    }

    &__text {
        text-align: left;
        font-family: Avenir;
        color: grey;
        font-size: 0.875rem;
        font-weight: 400;
        margin: 0;
        padding-top: 1vh;
    }
}
.comments-divider {
    width: 86%;
    color: grey;
    size: 1px;
    margin: 2vh 0;
    margin-left: 7vw;
}