@font-face {
    font-family: "Avenir";
    src: url("../../Assets/_GlobalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;   
}

@font-face {
    font-family: "Avenir";
    src: url("../../Assets/_GlobalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Medium.otf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Avenir";
    src: url("../../Assets/_GlobalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Light.otf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Avenir";
    src: url("../../Assets/_GlobalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf") format("truetype");
    font-style: normal;
    font-weight: 800;
}