.form {

    .form-group {
        display: flex;
        flex-wrap: flex-start;
    }

    &__label {
        font-family: Avenir;
        color: black;
        padding-left: 5vw;
        font-size: 1rem;
        text-align: left;
        margin-bottom: 1vh;
    }

    &__title {
        font-family: Avenir;
        color: grey;
        padding-left: 0;
        font-size: 1rem;
        text-align: left;
        margin: 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 77%;
        padding-left: 5vw;
    }

    &__input {
        border: 3px solid #0095FF;
        width: 90%;
        height: 6vh;
        border-radius: 8px;
        margin-bottom: 1vh;
        margin-top: 1vh;
        padding-bottom: 7vh;
    }

    input::placeholder {
        padding-left: 1vw;
        font-family: Avenir;
        color: black;
        font-size: 0.75rem;
        font-weight: 400;
        text-align: start;
        word-wrap: break-word;
    }

    &__btn {
        color: white;
        background-color: #0095FF;
        width: 93%;
        height: 6vh;
        font-family: Avenir;
        font-size: 0.825rem;
        font-weight: 800;
        border: 3px solid #0095FF;
        border-radius: 8px;
        margin-top: 1vh;
        margin-bottom: 0;
        padding: 1vh 0;
    }

    &__img {
        height: 5vh;
        width: 5vh;
        border-radius: 50%;
        object-fit: fill;
        margin-left: 7vw;
        margin-top: 5vh;
    }

    &__divider {
        width: 86%;
        color: grey;
        size: 1px;
        margin: 2vh 0;
        margin-left: 7vw;
    }
}